<%- include('../dashboard-layouts/dashboard-header.ejs') %>

<div class="page-wrapper">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="/profile/create-profile">Profile</a></li> 
                                <li class="breadcrumb-item active">Edit</li>
                            </ol>
                        </div>
                        <h4 class="page-title">CRM</h4>
                    </div>
                    <!--end page-title-box-->
                </div>
                <!--end col-->
            </div>
            <!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-md-12 m-auto">
                    <div class="card">
                        <div class="card-body">
                         <div class="row"> 
                          <div class="col-md-8 m-auto"> 
                            <form action="/profile/edit-profile" method="post">
                                <div class="form-group">
                                  <label>Title</label>
                                  <input 
                                  type="text" 
                                  name="title" 
                                  value="<%= profile.title %>" class="form-control <%= error.title ? 'is-invalid' : '' %>" placeholder="Enter your title">
                                <div class="invalid-feedback">
                                  <%= error.title && error.title %>
                                </div>
                                </div> 
                                <div class="form-group">
                                  <label>Bio</label>
                                  <textarea name="bio" id="" cols="30" rows="4" class="form-control <%= error.bio ? 'is-invalid' : '' %>" placeholder="Enter your bio max 400 character"><%= profile.bio %></textarea>
                                  <div class="invalid-feedback">
                                    <%= error.bio && error.bio %>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="sr-only">Website</label>
                                  <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text"><i class="fas fa-globe"></i></div>
                                    </div>
                                    <input 
                                    type="text" 
                                    class="form-control <%= error.website ? 'is-invalid' : '' %>" value="<%= profile.links.website %>" 
                                    name="website"  
                                    placeholder="Website Link (optional)">
                                    <div class="invalid-feedback">
                                      <%= error.website && error.website %>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="sr-only">Linkedin</label>
                                  <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text"><i class="fab fa-linkedin"></i></div>
                                    </div>
                                    <input 
                                    type="text" 
                                    class="form-control <%= error.linkedin ? 'is-invalid' : '' %> " value="<%= profile.links.linkedin %>" name="linkedin" placeholder="Linkedin Link (optional)">
                                    <div class="invalid-feedback">
                                      <%= error.linkedin && error.linkedin %>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="sr-only">Facebook</label>
                                  <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text"><i class="fab fa-facebook"></i></div>
                                    </div>
                                    <input 
                                    type="text" 
                                    class="form-control <%= error.facebook ? 'is-invalid' : '' %> " value="<%= profile.links.facebook %>"  
                                    name="facebook" 
                                    placeholder="Facebook Link (optional)">
                                    <div class="invalid-feedback">
                                      <%= error.facebook && error.facebook %>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="sr-only">Github</label>
                                  <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text"><i class="fab fa-github-square"></i></div>
                                    </div>
                                    <input type="text" class="form-control <%= error.github ? 'is-invalid' : '' %> " value="<%= profile.links.github  %>"  name="github" placeholder="Github Link (optional)">
                                    <div class="invalid-feedback">
                                      <%= error.github && error.github %>
                                    </div>
                                  </div>
                                </div> 
                                <input type="submit" value="Update Profile" class="btn btn-success"> 
                            </form>
                          </div>
                         </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>

        </div><!-- container -->

        <footer class="footer text-center text-sm-left">
            &copy; 2020 Crovex <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i
                    class="mdi mdi-heart text-danger"></i> by Mannatthemes</span>
        </footer>
        <!--end footer-->
    </div>
    <!-- end page content -->
</div>
<!-- end page-wrapper -->

<%- include('../dashboard-layouts/dashboard-footer.ejs') %>
